gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Warning: Keep the key.properties file private; do not check it into public source control.
key.properties
